@mixin menuBasic(){
  ul{
    list-style: none;
  }

  li{
    padding: 15px;
  }

  a{
    text-decoration: none;
  }
}

@mixin centerFlex($type: 'both'){
  display: flex;

  @if $type == 'vertical'{
    align-items: center;
  } @else if $type == 'horizontal'{
    justify-content: center;
  } @else if $type == 'both'{
    justify-content: center;
    align-items: center;
  }

}

@mixin btnStyle(){
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: .75rem;
  cursor: pointer;
}
