@use './partials/vars' as *;
@use  './partials/mixin' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/lato/index.css';

body { 
  font-family: "Lato", sans-serif; 
}

.my-container{
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

